<div class="content_post" style="background-image: url(<%= tweet.image %>);">
  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <li>
        <%= link_to '詳細', tweet_path(tweet.id), method: :get %>
      </li>
      <% if user_signed_in? && current_user.id == tweet.user_id %>
        <li>
          <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <p><%= tweet.text %></p>
  <span class="name">
    <a href="https://kusatsu-food.com/%E8%8D%89%E6%B4%A5%E3%81%9F%E3%81%BE%E3%81%94%E3%83%95%E3%82%A1%E3%83%BC%E3%83%A0/">
      <span>草津たまごファームHPはコチラから</span><%= tweet.user.nickname %>
    </a>
  </span>
</div>